<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books I've Read in 2021</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,700;1,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./public/styles.css" />
  </head>
  <body>
    <div class="global-container">

      <h1 class="title">Some books I read in 2021 <%= locals.text || ' ' %></h1>
      <div class="add-btn-container"><a href="/add" class="add-btn"><p>Add a book </p><%- plusIcon %></a></div>
      <div class="book-cards-container">
        <% bookList.forEach((book) => { %>
        <a href="/books/<%= book.id %>" class="book-card-anchor">
          <div class="book-card">
            <h3 class="title"><%= book.title%></h3>
            <h4 class="author"><%= book.author_name %></h4>
            <div class="genre-container">
              <% book.genres.split(', ').forEach((genre) => { %>
                <p class="genre"><%= genre %></p>              
              <% }) %>
            </div>
          </div>
        </a>
        <% } ) %>
      </div>
    </div>

  </body>
</html>
